<% layout('./layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New restaurant</h1>
    <div class="col-6 offset-3">
    <h2>edit</h2>

        <form action="/restaurants/<%= restaurants._id %>?_method=PUT" method="post" novalidate class="needs-validation">
            <p>
                <div class="mb-3">
                    <label class="form-label" for="title">Title: </label>
                    <input class="form-control" type="text" id= "title" name="restaurants[title]" value="<%= restaurants.title %>" required>
                </div>
                <div class="valid-feedback">
                    "looks good!"
                </div>
            </p>
            <p>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" type="text" id= "description" name="restaurants[description]" required> <%= restaurants.description %></textarea>
                </div>
                <div class="valid-feedback">
                    "looks good!"
                </div>
            </p>
            <p>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating: </label>
                    <input class="form-control" type="text" id= "rating" name="restaurants[rating]" value="<%= restaurants.rating %>" required>
                </div>
                <div class="valid-feedback">
                    "looks good!"
                </div>
            </p>
            <p>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" id= "location" name="restaurants[location]" value="<%= restaurants.location %>" required>
                </div>
                <div class="valid-feedback">
                    "looks good!"
                </div>
            </p>
            <p>
                <div class="mb-3">
                    <label class="form-label" for="image">Image:</label>
                    <input class="form-control" type="text" id= "image" name="restaurants[image]" value="<%= restaurants.image %>" required>
                </div>
                <div class="valid-feedback">
                    "looks good!"
                </div>
            </p>
            <p>
                <div class="mb-3">
                    <label class="form-label" for="price">Price:</label>
                    <input class="form-control" type="text" id= "price" name="restaurants[price]" value="<%= restaurants.price %>" required>
                </div>
                <div class="valid-feedback">
                    "looks good!"
                </div>
            </p>
                <div class="mb-3">
                    <button class="btn btn-info"> UPDATE RESTAURANT</button>
                    <p><a href="/restaurants">HOME</a></p>
                    <p><a href="/restaurants/<%=restaurants._id %>"><-Back</a></p>
                </div>
                <div class="valid-feedback">
                    "looks good!"
                </div>
        </form>
    </div>
</div>